.home {
  position: relative;
  height: 1107px;
  margin-bottom: 120px;
}

.home__grid {
  display: grid;
  grid-template-columns: 700px 163px;
  grid-template-rows: 258px 84px;
  justify-content: space-between;
  align-items: end;
  gap: 40px;
  grid-row-end: auto;
}

.home__title {
  grid-column: 1 / 2;
  grid-row: 1 / 2;
  width: 700px;
  font-family: Helvetica;
  font-size: 72px;
  font-weight: 400;
  line-height: 86px;
  text-transform: uppercase;
}

.home__btn {
  grid-column: 2 / 3;
  grid-row: 1 / 2;
  font-size: 18px;
  line-height: 21px;
  text-transform: uppercase;
  background-color: white;
  border: none;
  border-bottom: solid 1px #212529;
}

.home__text {
  grid-column: 1 / 2;
  grid-row: 2 / 3;
  width: 410px;
  font-size: 20px;
  line-height: 28px;
}

.home__img1 {
  position: absolute;
  right: 32px;
  top: 298px;
}

.home__img2 {
  position: absolute;
  bottom: 0;
}

@media (max-width: 1190px) {
  .home {
    height: 1008px;
  }

  .home__img1 {
    width: 50%;
  }
}

@media (max-width: 1024px) {
  .home {
    margin-bottom: 70px;
  }

  .home__grid {
    grid-template-columns: 510px 145px;
    gap: 30px;
  }

  .home__title {
    width: 510px;
    font-size: 52px;
    line-height: 62px;
  }

  .home__btn {
    font-size: 16px;
    line-height: 19px;
  }

  .home__text {
    width: 370px;
    font-size: 18px;
    line-height: 25px;
  }

  .home__img1 {
    right: 24px;
  }
}

@media (max-width: 1024px) {
  .home__img1 {
    width: 41%;
  }
}

@media (max-width: 735px) {
  .home {
    height: auto;
    margin-bottom: 48px;
  }

  .home__grid {
    grid-template-columns: 1fr;
    grid-template-rows: 114px 66px 21px;
    gap: 20px;
    margin-bottom: 24px;
  }

  .home__title {
    width: 311px;
    font-size: 32px;
    line-height: 38px;
  }

  .home__btn {
    width: 164px;
    grid-column: 1 / 1;
    grid-row: 3 / 4;
    font-size: 18px;
    line-height: 21px;
  }

  .home__text {
    grid-column: 1 / 1;
    grid-row: 2 / 3;
    width: 330px;
    font-size: 16px;
    line-height: 22px;
  }

  .home__img1 {
    position: static;
    max-width: 100%;
    width: -webkit-fill-available;
    width: -moz-available;
    top: 275px;
    right: 16px;
    left: 16px;
  }

  .home__img2 {
    display: none;
  }
}