html {
  scroll-behavior: smooth;
}

body {
  font-family: Roboto, sans-serif;
  font-weight: 400;
  line-height: normal;
  color: #212529;
}

.body__wrapper {
  overflow: hidden;
  width: 100%;
  position: relative;
}

.container {
  max-width: 1440px;
  margin: 0 auto;
  padding: 0 32px;
}

@media (max-width: 1024px) {
  .container {
    padding: 0 24px;
  }
}

@media (max-width: 600px) {
  .container {
    padding: 0 16px;
  }
}